.card-container {
  height: 40%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card-list {
  padding: 1px;
  background-color: #F5F5F5;
  height: 85%;
  overflow: auto;
}

.card-header {
  height: 15%;
  border-radius: 5px 5px 0 0;
  background-color: #C0C0C0;
  padding: 8px 5px 5px 20px;
  font-size: 20px;
  line-height: 20px;
}

.card {
  background: #FFFFFF;
  border-radius: 3px;
  height: 70px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-top: 14px;
  margin-left: 45px;
}

.bar {
  float: left;
  border-radius: 3px 0 0 3px;
  height: 70px;
  width: 35px;
}

.blue {
  background-color: #1DA1F2;
}

.orange {
  background-color: #F48024;
}