* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  padding: 40px 140px 50px;
  overflow: hidden;
  background-color: #111934;
}

.app-container::after {
  content: "";
  clear: both;
  display: table;
}

.door-status-col {
  float: left;
  padding : 20px;
  width: 60%;
  height: 100%;
  position: relative;
  border-radius: 10px 0 0 10px;
  background-color: #FCFCFC;
}

.info-col {
  float: left;
  padding : 30px;
  width: 40%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #FCFCFC;
}

.info-container {
  height: 15%;
  text-align: center;
}

.temp-button {
  padding: 5px;
  margin: 0 10px;
}

.username-text {
  color: grey;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.location-text {
  color: grey;
  font-size: 15px;
}